<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Daftar Komisi</title>


    </head>
    <section layout:fragment="breadcrumb">
        <h1>Tambah Komisi</h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a th:href="@{/komisi/list}">Daftar Komisi</a></li>
            <li class="active">Tambah Komisi</li>
        </ol>	
    </section>

    <section layout:fragment="content" class="container">

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Form<small>&nbsp;Insert & Update Komisi
                        </small></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <form method="post" th:action="@{/komisi/form}" th:object="${komisi}">
                        
                        <div class="form-group">
                            <label>Kode Komisi</label>
                            <input type="text" th:field="*{kmkod}" class="form-control" name="kmkod" placeholder="Kode Komisi">
                        </div>
                        <div class="form-group">
                            <label>Nama Komisi</label>
                            <input type="text" th:field="*{kmnam}" class="form-control" name="kmnam" placeholder="Nama Komisi">
                        </div>
                        
                        <div class="form-group">
                            <label>Singkatan</label>
                            <input type="text" th:field="*{kmsng}" class="form-control" name="kmsng" placeholder="Singkatan Komisi">
                        </div>                                                

                        <input type="hidden" name="id" th:field="*{id}">

                        <div class="form-group">

                            <input class="btn btn-primary" type="submit" value="Save">
                            <a th:href="@{/komisi/list}" class="btn btn-primary" role="button">
                                <span aria-hidden="true"></span>Cancel
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </section>

</html>