<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Daftar Jemaat</title>


    </head>
    <section layout:fragment="breadcrumb">
        <h1>Tambah Jemaat</h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a th:href="@{/jemaat/listAll}">Daftar Jemaat</a></li>
            <li class="active">Tambah Jemaat</li>
        </ol>	
    </section>

    <section layout:fragment="content" class="container">

        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Form<small>&nbsp;Insert & Update Jemaat
                        </small></h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <form method="post" th:action="@{/jemaat/formAll}" th:object="${jemaat}">
                        <span class="hidden" th:if="${jemaat.kpkod != null}" id="kepelId" th:text="${jemaat.kpkod.id}"></span>
                        <span class="hidden" th:if="${jemaat.klkod != null}" id="keluargaId" th:text="${jemaat.klkod.id}"></span>

                        <div class="form-group">
                            <label>Kepel</label>
                            <select style="width: 100%!important;" class="form-control js-example-placeholder-single" id="kepelId"
                                    th:field="*{kpkod}">
                                <option value=""></option>
                                <option th:each="dtf :${listKepel}"
                                        th:value="${dtf.id}"
                                        th:text="${dtf.kpnam}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Nama Keluarga</label>
                            <select th:field="*{klkod}" class="form-control selectpicker" 
                                    data-live-search="true"
                                    data-size="5" 
                                    title="Pilih Keluarga..." required="true">                                
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Tgl. Lahir</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>                            
                                </div>
                                <input type="date" class="form-control" th:field="*{jmtgl}" ud="jmtgl" name="jmtgl">                                                  
                            </div>
                        </div> 

                        <div class="form-group">
                            <label>Kode Jemaat</label>
                            <input type="text" th:field="*{jmkod}"
                                   class="form-control" name="jmkod" placeholder="Kode Jemaat" id="jmkod">
                        </div> 

                        <div class="form-group">
                            <label>Nama Jemaat</label>
                            <input type="text" th:field="*{jmnam}" class="form-control" name="klnam" placeholder="Nama Jemaat">
                        </div> 

                        <div class="form-group">
                            <label>Jenis Kelamin</label>
                            <select class="form-control js-example-placeholder-single" th:field="*{sjk}" name="sjk">
                                <option value=""></option>
                                <option value="L">Laki Laki</option>
                                <option value="P">Perempuan</option>
                            </select>                   
                        </div> 

                        <div class="form-group">
                            <label>Hubungan KK</label>
                            <select class="form-control js-example-placeholder-single" th:field="*{statusHubKk}" name="statusHubKk">
                                <option value=""></option>
                                <option value="KK">K.K</option>
                                <option value="I">Istri</option>
                                <option value="A">Anak</option>
                                <option value="O">Orang Tua</option>
                                <option value="L">Lain Lain</option>
                            </select>                   
                        </div> 

                        <div class="form-group">
                            <label>Komisi</label>
                            <select style="width: 100%!important;" class="form-control js-example-placeholder-single" id="listKomisi"
                                    name="komisiId" th:field="*{kmkod}">
                                <option value=""></option>
                                <option th:each="dtf :${listKomisi}"                                        
                                        th:value="${dtf.id}"
                                        th:text="${dtf.kmnam}">
                                </option>
                            </select>
                        </div> 

                        <div class="form-group">
                            <label>Status Menikah</label>
                            <select class="form-control js-example-placeholder-single" th:field="*{statusNikah}" name="statusNikah">
                                <option value=""></option>
                                <option value="M">Menikah</option>
                                <option value="J">Janda</option>
                                <option value="D">Duda</option>
                                <option value="C">Cerai</option>
                                <option value="B">Belum</option>
                            </select>  
                        </div> 

                        <div class="form-group">
                            <label>Baptis</label>
                            <select class="form-control js-example-placeholder-single" th:field="*{statusBaptis}" name="statusBaptis">
                                <option value=""></option>
                                <option value="S">Ya</option>
                                <option value="B">Tidak</option>
                            </select>
                        </div> 

                        <div class="form-group">
                            <label>Sidi</label>
                            <select class="form-control js-example-placeholder-single" th:field="*{statusSidi}" name="statusSidi">
                                <option value=""></option>
                                <option value="S">Ya</option>
                                <option value="B">Tidak</option>
                            </select>
                        </div> 

                        <div class="form-group">
                            <label>Pekerjaan</label>
                            <select class="form-control js-example-placeholder-single" th:field="*{statusPekerjaan}" name="statusPekerjaan">
                                <option value=""></option>
                                <option value="A">ASN/PNS</option>
                                <option value="B">POLRI/TNI</option>
                                <option value="C">PETANI</option>
                                <option value="D">NELAYAN</option>
                                <option value="E">KRY. SWASTA</option>
                                <option value="F">WIRASWASTA</option>
                                <option value="G">LAIN LAIN</option>
                            </select>
                        </div> 

                        <div class="form-group">
                            <label>Pendidikan</label>
                            <select class="form-control js-example-placeholder-single" th:field="*{statusPendidikan}" name="statusPendidikan">
                                <option value=""></option>
                                <option value="A">S3</option>
                                <option value="B">S2</option>
                                <option value="C">S1</option>
                                <option value="D">DIPLOMA</option>
                                <option value="E">SMA/SMK</option>
                                <option value="F">SD/SMP</option>
                                <option value="G">LAIN LAIN</option>
                            </select>
                        </div> 

                        <input type="hidden" name="id" th:field="*{id}">

                        <div class="form-group">

                            <input class="btn btn-primary" type="submit" value="Save">
                            <a th:href="@{/jemaat/list}" class="btn btn-primary" role="button">
                                <span aria-hidden="true"></span>Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>                      
        </div>
    </section>

</html>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    function formatRepo(repo) {
        if (repo.loading)
            return repo.text;
        var markup = repo.nama;

        return markup;
    }

    function formatRepoSelection(repo) {
        return repo.nama || repo.text;
    }
    
    $(document).ready(function () {
       $('#jmtgl').datepicker({
            autoclose: true,
            clearBtn: true,
            format: "yy-mm-dd",
            todayHighlight: true
            }).on('changeDate', function (e) {
              $('#jmtgl').datepicker('setDate', e.date);
        });
        
        $("#jmtgl").bind("change", function() {
            var vTgl = $(this).val();
            var content = "";
            $.get("/api/client/get/jemaat/maxkode/"+vTgl).done(function (data) {
                content = data;                                              
                $("#jmkod").val(content);                
//               console.log("kode="+content);
            });            
        });
        
        $("#kepelId").on("change", function () {
            var idKepel = $(this).val();
            getListKeluarga(idKepel);
        });               
                    
        function getListKeluarga(idFakultas, prodiValue = null) {            
            $.get("/api/client/get/keluarga/" + idFakultas).done(function (data) {
                var content = "";
                for (var i = 0; i < data.length; i++) {
                    content += "<option value='" + data[i].id + "'>" + data[i].klnam + "</option>";
                }
                
                $("#klkod").html(content).selectpicker('refresh');
                if (prodiValue != null) {
                    setSelectValue("klkod", prodiValue);
                }
            });
        }
                
        function setSelectValue(id, value) {
            $('#' + id).selectpicker('val', value);
        }
    });
    /*]]>*/
</script>  